<div class="hero-unit">
    <h1>Visualize some tweets.</h1>
</div>

<%= form_tag(visualize_path, class: "form-horizontal",
                             autocomplete: "off" ) do %>
    <legend></legend>    

    <% unless alert.nil? %>
        <div class="alert alert-error fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <%= alert %>
            <script>$(".alert").alert()</script>
        </div>
    <% end %>

    <div class="control-group">
        <%= label_tag 'keyword', nil, class: "control-label" %>
        <div class="controls">
            <%= text_field_tag 'keyword', nil %>
            <p class="help-block" id="req">(required)</p>
        </div>    
    </div>
    <div class="control-group">
        <%= label_tag 'city', nil, class: "control-label" %>
        <div class="controls">
            <%= text_field_tag 'city', nil %>
            <p class="help-block">Enter in city to focus search on</p>
        </div>    
    </div>
    <div class="control-group">
        <%= label_tag 'radius', nil, class: "control-label" %>
        <div class="controls">
            <div class="input-append">
                <%= number_field_tag 'radius', nil, min: 0 %>
                <span class="add-on">mi</span>
            </div>
            <p class="help-block">Radius around city in miles</p>
        </div>
    </div> 
    <div class="form-actions">
        <button name="commit", type="submit", id="submit", disabled="disabled",
                class="btn btn-primary", data-loading-text="Searching...">
            <i class="icon-search icon-white"></i>
            Search
        </button>
         <%= link_to "Sample", sample_path, 
                class: "btn btn-success", 
                id: "sample", 
                "data-title" => "A Sample Visualization",
                "data-content" => "Explore a set of Harvard-related tweets. Visit our repo at Github to grab a copy of the code and try it out yourself!",
                rel: "popover" %>
        <script>
            $("a[rel=popover]").popover();
            $("#submit").button();
            $('#submit').on('click', function () {
                 $(this).button('loading');
            });

        </script>
    </div>
<% end %>

