<h1>Listing searches</h1>

<table>
  <tr>
    <th>Created</th>
    <th>User</th>
    <th>Userid</th>
    <th>Name</th>
    <th>Text</th>
    <th>Loc</th>
    <th>Timezone</th>
    <th>Statuses</th>
    <th>Followers</th>
    <th>Friends</th>
    <th>Source</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Mood</th>
    <th>Query</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @searches.each do |search| %>
  <tr>
    <td><%= search.created %></td>
    <td><%= search.user %></td>
    <td><%= search.userid %></td>
    <td><%= search.name %></td>
    <td><%= search.text %></td>
    <td><%= search.loc %></td>
    <td><%= search.timezone %></td>
    <td><%= search.statuses %></td>
    <td><%= search.followers %></td>
    <td><%= search.friends %></td>
    <td><%= search.source %></td>
    <td><%= search.lat %></td>
    <td><%= search.lon %></td>
    <td><%= search.mood %></td>
    <td><%= search.query %></td>
    <td><%= link_to 'Show', search %></td>
    <td><%= link_to 'Edit', edit_search_path(search) %></td>
    <td><%= link_to 'Destroy', search, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search', new_search_path %>
