<footer class="footer">
    <small>
        By Sachin Patel and Will Sun
    </small>
    <nav>
        <ul>
        	<li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Video", 
                "http://www.youtube.com/watch?v=W6asKAs2RWc",
                rel: "external" %></li>
            <li><%= link_to "Process Book", "/Tweetography.pdf" %></li>
            <li><%= link_to "Code", 
                "https://www.github.com/wsun/tweetography",
                rel: "external" %></li>
        </ul>
    </nav>
</footer>
